compscore.local {
    handle /api/* {
        reverse_proxy engine:8080
    }

    handle {
        root * app
        type_files {path} /index.html
        encode gzip zstd
        file_server
    }
}